{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - {{ title }}{% endblock %}

{% block body %}
	<div id="item-list">
		{% if message %}
			<h4 id="message">{{ message }}</h4>
		{% endif %}
	
		<h3>{{ title }}</h3>

		{% if type == "Team" and items|length > 0 %}
			<table class="table table-bordered table-striped table-hover">
				<tr>
					<th>Team name</th>
					<th>League name</th>
					<th>Points</th>
				</tr>

				{% for item in items %}
					<tr class="clickable-row" data-href="">
						<td><a href="{{ path('user_saveTeam', {'league_id': item.getLeagueId(), 'team_id': item.getTeamId()}) }}">
						{{ item.getTeamName() }}</a></td>
						<td>{{ item.getLeagueName() }}</td>
						<td>{{ item.getPoints() }}</td>
					</tr>
				{% endfor %}
			</table></br>

			<form action="{{ path('user_listLeagues') }}" method="GET">
			    <button class="btn btn-primary"  id="createTeamButton">Create new team</button>
			</form>
		{% elseif type == "Team" and items|length == 0 %}
			<h5>Your don't own any teams yet! Click on "Create new team" to get started</h5>
			</br>
			<form action="{{ path('user_listLeagues') }}" method="GET">
			    <button class="btn btn-primary"  id="createTeamButton">Create new team</button>
			</form>
		{% elseif type == "TeamRanking" and items|length > 0 %}
			<div class="container tabs">	
				<ul class="nav nav-pills">
					<li><a href="{{ path('user_showRanking') }}" data-toggle="tab">Ranking</a></li>
					<li><a href="{{ path('user_showTeam', {'edit': 0}) }}" data-toggle="tab">Show team</a></li>
					<li><a href="{{ path('user_showTeam', {'edit': 1}) }}" data-toggle="tab">Manage team</a></li>
		  			<li><a href="{{ path('user_showMarket') }}" data-toggle="tab">Market</a></li>
				</ul>
			</div>
			<table class="table table-bordered table-striped table-hover">
				<tr>
					<th>Team name</th>
					<th>Points</th>
				</tr>

				{% for item in items %}
					<tr class="clickable-row" data-href="">
						<td>{{ item.getTeamName() }}</td>
						<td>{{ item.getPoints() }}</td>
					</tr>
				{% endfor %}
			</table></br>
		{% endif %}
	</div>
{% endblock %}