{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - {{ player.getName()}} {{ player.getLastname()}}{% endblock %}

{% block body %}
  {% if message %}
    <h4 id="message">{{ message }}</h4>
  {% endif %}
  <table class="table table-bordered table-striped table-hover" style="width:50%">
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Nationality</th>
      <th>Club</th>
      <th>Position</th>
      <th>Points</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>{{ player.getName() }}</td>
      <td>{{ player.getLastname() }}</td>
      <td>{{ player.getNationality() }}</td>
      <td>{{ player.getClub() }}</td> 
      <td>{{ player.getPosition() }}</td>
      <td>{{ player.getPoints() }}</td>
      <td>{{ player.getValue() }}</td>
    </tr>
  </table>

  <form class="horizontal-form" role="form" action="{{ path('user_sellPlayer', {'player_id': player.getId()}) }}" method="POST" onsubmit="return(validate());">
      <button class="btn btn-primary" id="marketButton" type="submit">Put on tranfer market</button></br>
  </form>

{% endblock %}