{% extends "UserBundle:User:home.html.twig" %}
{% block title %}Fantasy - {{ title }}{% endblock %}

{% block container %}
	<div id="item-list">
		<h3>{{ title }}</h3>
		{% if type == 'League' %}
			<h5>Select a league below and click "Join" or create a new one clicking on "Create"</h5>
			{% for item in items %}
				<ul>
					<li><a>{{ item.getLeagueName() }}</a></li>
				</ul>
			{% endfor %}
			</br>
			<button>Join</button>
			<button>Create</button>
		{% endif %}


		{% if type == 'Player' %}
			<h5>This is yout current starting eleven</h5>
			{% for item in items %}
				<ul>
					<li><a>{{ item.getName() }}</a></li>
				</ul>
			{% endfor %}
			</br>
			<button>Join</button>
			<button>Create</button>
		{% endif %}

		{% if type == "Team" and items|length > 0 %}
			{% for item in items %}
				<ul>
					<li><a href="{{ path('user_showTeam', { 'league_id': item.getLeagueId() }) }}">{{ item.getTeamName() }}</a></li>
				</ul>
			{% endfor %}
			</br>
			<button>Create</button>
		{% elseif type == "Team" and items|length == 0 %}
			<h5>Your don't own any teams yet! Click on "Create" to get started</h5>
			</br>

			<form action="{{ path('user_newTeam') }}" method="GET">
			    <button id="createTeamButton">Create</button>
			</form>
		{% endif %}
	</div>

	<script>
	    $(document).ready(
	    	alert('Ayyyyy');
		    $('li').click(
			function ()
			{
			    
			    //var text = $(this).text();
			    //alert('Text is ' + text);
			});
		);
	</script>
{% endblock %}

{% block javascripts %}

{% endblock %}