{% extends "UserBundle:User:home.html.twig" %}
{% block title %}Fantasy - {{ title }}{% endblock %}

{% block container %}
	<div id="item-list">
		<h3>{{ title }}</h3>
		{% if type == 'League' %}
			<h5>Click on a league below to join it</h5>
			<ul>
			{% for item in items %}
				<li><a href="{{ path('user_leaguePassword', {'league_id': item.getLeagueId()}) }}">{{ item.getLeagueName() }}</a></li>
			{% endfor %}
			</ul>
			</br>
		{% endif %}

		{% if type == 'Player' and edit == "false" %}
			<h5>This is your current starting eleven</h5>

			<table class="table table-bordered table-striped table-hover">
				<tr>
					<th>Name</th>
					<th>Lastname</th>
					<th>Position</th>
					<th>Club</th>
					<th>Points</th>
				</tr>

				{% for item in items %}
					<tr class="clickable-row">
						<td>{{ item.getName() }}</td>
						<td>{{ item.getLastname() }}</td>
						<td>{{ item.getPosition() }}</td>
						<td>{{ item.getClub() }}</td>
						<td>{{ item.getPoints() }}</td>
					</tr>
				{% endfor %}
			</table></br>
			<form action="{{ path('user_editEleven', { 'edit': "true" }) }}" method="GET">
				<button class="btn btn-primary" id="#editButton">Edit</button>
			</form>
		{% elseif type == 'Player' and edit == "true" %}
			<form action="" method="POST" id="selectForm">
				<select id="select1" name="select1">
					<option disabled selected> --Select a player -- </option>
					{% for item in items %}
		                <option value="{{ item.getId() }}">{{ item.getPosition() }} -> {{ item.getName() }}</option>
		            {% endfor %}
		        </select></br>
		        <select id="select2" name="select2">
					<option disabled selected> --Select a player -- </option>
					{% for item in items %}
		                <option value="{{ item.getId() }}">{{ item.getPosition() }} -> {{ item.getName() }}</option>
		            {% endfor %}
		        </select></br>
		        <select id="select3" name="select3">
					<option disabled selected> --Select a player -- </option>
					{% for item in items %}
		                <option value="{{ item.getId() }}">{{ item.getPosition() }} -> {{ item.getName() }}</option>
		            {% endfor %}
		        </select></br>
		        <select id="select4" name="select4">
					<option disabled selected> --Select a player -- </option>
					{% for item in items %}
		                <option value="{{ item.getId() }}">{{ item.getPosition() }} -> {{ item.getName() }}</option>
		            {% endfor %}
		        </select></br>
		        <select id="select5" name="select5">
					<option disabled selected> --Select a player -- </option>
					{% for item in items %}
		                <option value="{{ item.getId() }}">{{ item.getPosition() }} -> {{ item.getName() }}</option>
		            {% endfor %}
		        </select></br>
		        <select id="select6" name="select6">
					<option disabled selected> --Select a player -- </option>
					{% for item in items %}
		                <option value="{{ item.getId() }}">{{ item.getPosition() }} -> {{ item.getName() }}</option>
		            {% endfor %}
		        </select></br>
		        <select id="select7" name="select7">
					<option disabled selected> --Select a player -- </option>
					{% for item in items %}
		                <option value="{{ item.getId() }}">{{ item.getPosition() }} -> {{ item.getName() }}</option>
		            {% endfor %}
		        </select></br>
		        <select id="select8" name="select8">
					<option disabled selected> --Select a player -- </option>
					{% for item in items %}
		                <option value="{{ item.getId() }}">{{ item.getPosition() }} -> {{ item.getName() }}</option>
		            {% endfor %}
		        </select></br>
		        <select id="select9" name="select9">
					<option disabled selected> --Select a player -- </option>
					{% for item in items %}
		                <option value="{{ item.getId() }}">{{ item.getPosition() }} -> {{ item.getName() }}</option>
		            {% endfor %}
		        </select></br>
		        <select id="select10" name="select10">
					<option disabled selected> --Select a player -- </option>
					{% for item in items %}
		                <option value="{{ item.getId() }}">{{ item.getPosition() }} -> {{ item.getName() }}</option>
		            {% endfor %}
		        </select></br>
		        <select id="select11" name="select11">
					<option disabled selected> --Select a player -- </option>
					{% for item in items %}
		                <option value="{{ item.getId() }}">{{ item.getPosition() }} -> {{ item.getName() }}</option>
		            {% endfor %}
		        </select></br>
			<button class="btn btn-primary" id="updateButton">Update</button>
			</form>
		{% endif %}

		{% if type == "Team" and items|length > 0 %}
			<table class="table table-bordered table-striped table-hover">
				<tr>
					<th>Team name</th>
					<th>League name</th>
					<th>Points</th>
				</tr>

				{% for item in items %}
					<tr class="clickable-row" data-href="">
						<td><a href="{{ path('user_showTeam', {'league_id': item.getLeagueId(), 'team_id': item.getTeamId(), 'edit': "false"}) }}">
						{{ item.getTeamName() }}</a></td>
						<td>{{ item.getLeagueName() }}</td>
						<td>{{ item.getPoints() }}</td>
					</tr>
				{% endfor %}
			</table></br>

			<form action="{{ path('user_joinLeague') }}" method="GET">
			    <button class="btn btn-primary"  id="createTeamButton">Create</button>
			</form>
		{% elseif type == "Team" and items|length == 0 %}
			<h5>Your don't own any teams yet! Click on "Create" to get started</h5>
			</br>
			<form action="{{ path('user_joinLeague') }}" method="GET">
			    <button class="btn btn-primary"  id="createTeamButton">Create</button>
			</form>
		{% endif %}
	</div>
{% endblock %}

{% block javascripts %}
	<script>
	    $(document).ready(
	    	function()
		    {
			    $("#updateButton").click(
				    function()
				    {
					    var selectedValues = [$("#select1").val(), $("#select2").val(), $("#select3").val(), $("#select4").val(), $("#select5").val(), $("#select6").val(), $("#select7").val(), $("#select8").val(), $("#select9").val(), $("#select10").val(), 
					    	$("#select11").val()];
					    $(this).closest("form").attr("action", "{{ path('user_updateEleven') }}");
					}
				)

			    $(".clickable-row").click(
			    	function ()
				    {
					   	//How do we redirect the user to the team page from here.
					}
				)
			}
		);
	</script>
{% endblock %}