{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - {{ title }}{% endblock %}

{% block body %}
	<div id="item-list">
		{% if message %}
			<h4 id="message">{{ message }}</h4>
		{% endif %}
	
		<legend>{{ title }}</legend>
		
		{% if type == 'ListPlayers' and items|length > 0 %}
			<h5>This is your current starting eleven</h5>
			{% include 'UserBundle:User:teammenu.html.twig' %}
			<table class="table table-bordered table-striped table-hover">
				<tr>
					<th>Name</th>
					<th>Lastname</th>
					<th>Position</th>
					<th>Club</th>
					<th>Points</th>
					
				</tr>

				{% for item in items %}
					<tr class="clickable-row">
						<td><a href="{{ path('user_showPlayer', {'player_id': item.getId()}) }}">{{ item.getName() }}</a></td>
						<td>{{ item.getLastname() }}</td>
						<td>{{ item.getPosition() }}</td>
						<td>{{ item.getClub() }}</td>
						<td>{{ item.getPoints() }}</td>
						
					</tr>
				{% endfor %}
			</table></br>
			<form action="{{ path('user_showTeam', {'edit': 1}) }}" method="GET">
				<button class="btn btn-primary" id="#editButton">Edit</button>
			</form>
		{% elseif type == 'ListPlayers' and items|length == 0 %}
			<h5>You haven't set up your starting eleven yet!</h5>
			<form action="{{ path('user_showTeam', {'edit': 1}) }}" method="GET">
				<button class="btn btn-primary" id="#startButton">Get started!</button>
			</form>
		{% elseif type == 'MarketPlayers' %}
			<h5>This is the current market</h5>
			{% include 'UserBundle:User:teammenu.html.twig' %}
			<table class="table table-bordered table-striped table-hover">
				<tr>
					<th>Name</th>
					<th>Lastname</th>
					<th>Position</th>
					<th>Club</th>
					<th>Points</th>
					<th>Value</th>
					<th>Bid</th>
				</tr>

				{% for item in items %}
					<tr>
						<td>{{ item.getName() }}</td>
						<td>{{ item.getLastname() }}</td>
						<td>{{ item.getPosition() }}</td>
						<td>{{ item.getClub() }}</td>
						<td>{{ item.getPoints() }}</td>
						<td>{{ item.getValue() }}</td>
						<td>
							<form action="{{ path('user_placeBid', { 'player_id': item.getId()}) }}" method="GET" onclick="bid()">
								<input type="text" name="bid" id="inputBid{{ loop.index }}">
								<button class="btn btn-primary bidButton" id="bidButton{{ loop.index }}">Bid</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</table>
			<form action="{{ path('user_showTeam', {'edit': -1}) }}" method="GET">
				<button class="btn btn-primary" id="addButton">Add players</button>
			</form>
		{% elseif type == 'AddPlayers' %}
			{% include 'UserBundle:User:teammenu.html.twig' %}
			<table class="table table-bordered table-striped table-hover">
				<tr>
					<th>Name</th>
					<th>Lastname</th>
					<th>Position</th>
					<th>Club</th>
					<th>Points</th>
					<th>Value</th>
					<th></th>
				</tr>

				{% for item in items %}
					<tr>
						<td>{{ item.getName() }}</td>
						<td>{{ item.getLastname() }}</td>
						<td>{{ item.getPosition() }}</td>
						<td>{{ item.getClub() }}</td>
						<td>{{ item.getPoints() }}</td>
						<td>{{ item.getValue() }}</td>
						<td>
							<form action="{{ path('user_sellPlayer', {'player_id': item.getId()}) }}" method="GET">
								<button class="btn btn-primary">Add</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</table></br>
		{% elseif type == 'EditPlayers' %}
			{% include 'UserBundle:User:teammenu.html.twig' %}
			<div class="container" id="selectDiv">
				<form action="" method="POST" id="selectForm">
					{% for i in 1..11 %}
						<select class="select" id="select{{ i }}" name="select{{ i }}">
							{% if eleven != false %}
								{% for j in 0..10 %}
									{% if i == (j + 1) %}
									 	<option value="{{ eleven[j].getId() }}" selected>{{ eleven[j].getName() }} {{ eleven[j].getLastname() }}</option>
										{% for item in items %}
											<option value="{{ item.getId() }}">{{ item.getName() }} {{ item.getLastname() }}</option>
										{% endfor %}
									{% endif %}
								{% endfor %}
							{% else %}
								<option disabled selected> -- Select a player -- </option>
								{% for item in items %}
									<option value="{{ item.getId() }}">{{ item.getName() }} {{ item.getLastname() }}</option>
								{% endfor %}
							{% endif %}
						</select></br>
					{% endfor %}
					<button class="btn btn-primary" id="updateButton">Update</button>
				</form>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block javascripts %}
	<script>
	    $(document).ready(
	    	function update()
		    {
			    $("#updateButton").click(
				    function()
				    {
					    $(this).closest("form").attr("action", "{{ path('user_updateEleven') }}");
					}
				)
			}
		);
	</script>
{% endblock %}