{% extends "UserBundle:User:home.html.twig" %}
{% block title %}Fantasy - {{ title }}{% endblock %}

{% block container %}
	<div id="item-list">
		<h3>{{ title }}</h3>
		{% if type == 'League' %}
			<h5>Select a league below and click "Join" or create a new one clicking on "Create"</h5>
			<ul>
			{% for item in items %}
				<li><a>{{ item.getLeagueName() }}</a></li>
			{% endfor %}
			</ul>
			</br>
			<form action="" method="GET">
				<button id="joinButton">Join</button>
				<button id="createButton">Create</button>
			</form>
		{% endif %}

		{% if type == 'Player' and modify == "false" %}
			<h5>This is your current starting eleven</h5>
			<ul>
			{% for item in items %}
				<li><a>{{ item.getPosition() }} ----> {{ item.getName() }}</a></li>
			{% endfor %}
			</ul>
			</br>
			<form action="{{ path('user_modifyEleven', { 'modify': "true" }) }}" method="GET">
				<button>Modify</button>
			</form>
		{% elseif type == 'Player' and modify == "true" %}
			<form action="" method="GET" id="selectForm">
				{% for i in 0..10 %}
					<select>
						<li> 
							<option disabled selected> -- Select a player -- </option>
				            {% for item in items %}
				                <option value="{{ item.getId() }}">{{ item.getPosition() }} ----> {{ item.getName() }}</option>
				            {% endfor %}                
				        </li>
					</select>
					</br>
				{% endfor %}
			<button id="updateButton">Update</button>
			</form>
		{% endif %}

		{% if type == "Team" and items|length > 0 %}
			<ul>
			{% for item in items %}
				<li><a href="{{ path('user_showTeam', { 'league_id': item.getLeagueId(), 'team_id': item.getTeamId(), 'modify': "false" }) }}">
				{{ item.getTeamName() }}</a></li>
			{% endfor %}
			</ul>
			</br>
			<button>Create</button>
		{% elseif type == "Team" and items|length == 0 %}
			<h5>Your don't own any teams yet! Click on "Create" to get started</h5>
			</br>
			<form action="{{ path('user_newTeam') }}" method="GET">
			    <button id="createTeamButton">Create</button>
			</form>
		{% endif %}
	</div>

	<script>
	    $(document).ready(
	    	function()
		    {
			    $('#joinButton').click(
			    	function()
			    	{
			    		alert("I am an alert box!");
			    	})

			    $('#createButton').click(
			    	function()
			    	{
			    		alert("I am an alert box too!");
			    	})

			    $("#updateButton").click(
				    function()
				    {
					    var selectedValues = [];    
					    $("#selectForm").children(
						    function()
						    {
						        if ()
						        selectedValues[i] = $(selected).text(); 
						    }
						);
					    alert(selectedValues.length);
					}
				)
			}
		);
	</script>
{% endblock %}

{% block javascripts %}

{% endblock %}