{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - Leagues{% endblock %}

{% block body %}
	{% if message != false %}
		<h4>{{ message }}</h4>
	{% endif %}
    <div id="navmenu"> 
		<ul>
		  <li><a href="{{ path('admin_leagues_create') }}">Add league</a></li>
		  <li><a href="{{ path('admin_leagues_list', { 'edit': 1 }) }}">Edit league</a></li>
		  <li><a href="{{ path('admin_leagues_list', { 'edit': 0 }) }}">Remove league</a></li>
		  <li><a href="{{ path('admin_logout') }}">Exit</a></li>
		</ul>
	</div>
{% endblock %}