{% extends "AdminBundle::admin.html.twig" %}
{% block title %}Fantasy - League{% endblock %}

{% block body %}
    <div id="navmenu"> 
		<ul>
		  <li><a href="{{ path('admin_leagues_create') }}">Add league</a></li>
		  <li><a href="{{ path('admin_leagues_list', { 'edit': 1 }) }}">Edit league</a></li>
		  <li><a href="{{ path('admin_leagues_list', { 'edit': 0 }) }}">Remove league</a></li>
		  <li><a href="{{ path('admin_logout') }}">Exit</a></li>
		</ul>
	</div>

	{% if message != false %}
		<h3>{{ message }}</h3>
	{% endif %}

	<script>
		$(document).ready(
		    function validate()
		    {
		        $('#signupButton').click(
			        function()
			        {
			        	
			        }
			    )
		    }
		);
	</script>
{% endblock %}

{% block javascript %}

{% endblock %}