{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - Add league{% endblock %}

{% block body %}
	{% if message %}
		<h4>{{ message }}</h4>
	{% endif %}

	{% if edit %}
	    <form action="{{ path('admin_leagues_add', {'edit': "true", 'league_id': league.getLeagueId() }) }}" method="POST" onsubmit="return(validate());">
	    	Name <input id="league_name" type="text" name="league_name" placeholder="Name for the league" value="{{ league.getLeagueName() }}"><br>
	    	Password <input id="league_password" type="text" name="league_password" placeholder="Password" value="{{ league.getLeaguePassword() }}"><br>
		  	Capacity <input id="league_capacity" type="text" name="league_capacity" placeholder="Maximum number of users" value="{{ league.getLeagueCapacity() }}"><br>
	    	Administrator <input id="nationality" type="text" name="league_admin_id" placeholder="ID of administrator" value="{{ league.getLeagueAdminId() }}"><br>
		  	<button id="editButton" type="submit">Edit</button>
		</form>
	{% else %}
		<form action="{{ path('admin_leagues_add', {'edit': "false", 'league_id': 0 }) }}" method="POST" onsubmit="return(validate());">
	    	Name <input id="league_name" type="text" name="league_name" placeholder="Name for the league"><br>
	    	Password <input id="league_password" type="text" name="league_password" placeholder="Password"><br>
		  	Capacity <input id="league_capacity" type="text" name="league_capacity" placeholder="Maximum number of users"><br>
	    	Administrator <input id="nationality" type="text" name="league_admin_id" placeholder="ID of administrator"><br>
		  	<button id="editButton" type="submit">Remove</button>
		</form>
	{% endif %}
{% endblock %}

{% block javascript %}
	
{% endblock %}