{% extends "AdminBundle::admin.html.twig" %}
{% block title %}Fantasy - Player{% endblock %}

{% block body %}
    <div id="navmenu"> 
		<ul>
		  <li><a href="{{ path('admin_players_create') }}">Add player</a></li>
		  <li><a href="{{ path('admin_players_list', { 'edit': 1 }) }}">Edit player</a></li>
		  <li><a href="{{ path('admin_players_list', { 'edit': 0 }) }}">Remove player</a></li>
		  <li><a href="{{ path('admin_logout') }}">Exit</a></li>
		</ul>
	</div>

	{% if message != false %}
		<h3>{{ message }}</h3>
	{% endif %}


{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(
		    function validate()
		    {
		        $('#signupButton').click(
			        function()
			        {
			        	
			        }
		        )
		    }
		);
	</script>
{% endblock %}