{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - Players{% endblock %}

{% block body %}
	{% if message != false %}
		<h4>{{ message }}</h4>
	{% endif %}
    <div id="navmenu"> 
		<ul>
		  <li><a href="{{ path('admin_players_create') }}">Add player</a></li>
		  <li><a href="{{ path('admin_players_list', { 'edit': 1 }) }}">Edit player</a></li>
		  <li><a href="{{ path('admin_players_list', { 'edit': 0 }) }}">Remove player</a></li>
		  <li><a href="{{ path('admin_logout') }}">Exit</a></li>
		</ul>
	</div>
{% endblock %}