{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - {{ title }}{% endblock %}

{% block body %}
	<div id="item-list">
		{% if message %}
			<h4 id="message">{{ message }}</h4>
		{% endif %}
	
		<h3>{{ title }}</h3>

		{% if type == 'League' %}
			<h5>Click on a league below to join it</h5>
			<ul>
			{% for item in items %}
				<li><a href="{{ path('user_leaguePassword', {'league_id': item.getLeagueId()}) }}">{{ item.getLeagueName() }}</a></li>
			{% endfor %}
			</ul>
			</br>
		{% endif %}
	</div>
{% endblock %}